In [1]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (10.0.1)
Requirement already satisfied: numpy>=1.16.6 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pyarrow) (1.23.3)

# 1. Reading & Cleaning Data (15 pts)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_unwto = pd.read_parquet("https://faculty.cs.niu.edu/~dakoop/cs640-2023sp/a4/unwto.parquet")
df_wb = pd.read_parquet("https://faculty.cs.niu.edu/~dakoop/cs640-2023sp/a4/wb.parquet")
df_oecd = pd.read_parquet("https://faculty.cs.niu.edu/~dakoop/cs640-2023sp/a4/oecd.parquet")
df_unpop = pd.read_parquet("https://faculty.cs.niu.edu/~dakoop/cs640-2023sp/a4/population.parquet")

In [4]:
df_unwto.head()

,Country,CountryCode,Units,Variable,Year,value
0,AFGHANISTAN,4,US$ Millions,Inbound Tourism expenditure in the country,1995,NaN
1,AFGHANISTAN,4,US$ Millions,Inbound Travel,1995,NaN
2,AFGHANISTAN,4,US$ Millions,Inbound Passenger transport,1995,NaN
3,ALBANIA,8,US$ Millions,Inbound Tourism expenditure in the country,1995,70.0
4,ALBANIA,8,US$ Millions,Inbound Travel,1995,65.0

In [5]:
df_wb.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,value
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1960,NaN
1,Africa Eastern and Southern,AFE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1960,NaN
2,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1960,NaN
3,Africa Western and Central,AFW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1960,NaN
4,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1960,NaN

In [6]:
df_oecd.head()

     Country                                        Variable  Year    value
0  Australia                    Total international receipts  2008  31159.8
1  Australia                   International travel receipts  2008  28014.3
2  Australia      International passenger transport receipts  2008   3145.5
3  Australia  International sea passenger transport receipts  2008       ..
4  Australia  International air passenger transport receipts  2008       ..

In [7]:
df_unpop.head()

   Country  NumericCode AlphaCode  Year  Population-Thousands
0  Burundi          108       BDI  1950              2229.322
1  Burundi          108       BDI  1951              2278.903
2  Burundi          108       BDI  1952              2327.593
3  Burundi          108       BDI  1953              2375.478
4  Burundi          108       BDI  1954              2422.721

In [8]:
df_oecd["value"] = df_oecd["value"].replace("..", np.nan)
df_oecd["value"] = df_oecd["value"].astype("float")

In [9]:
# dividing the value column with million so that it matches with every other dataset
df_wb["value"] = df_wb["value"] / 1000000

In [10]:
df_unwto = df_unwto.pivot_table(index=['Country',  "CountryCode",'Year'], columns='Variable', values='value').reset_index()
df_unwto.head()

Variable,Country,CountryCode,Year,Inbound Passenger transport,Inbound Tourism expenditure in the country,Inbound Travel,Outbound Passenger transport,Outbound Tourism expenditure in other countries,Outbound Travel
0,AFGHANISTAN,4,2008,40.0,57.0,17.0,2.0,38.0,36.0
1,AFGHANISTAN,4,2009,53.0,89.0,36.0,2.0,70.0,68.0
2,AFGHANISTAN,4,2010,72.0,147.0,75.0,3.0,106.0,103.0
3,AFGHANISTAN,4,2011,80.0,165.0,85.0,9.0,255.0,246.0
4,AFGHANISTAN,4,2012,65.0,167.0,102.0,5.0,110.0,105.0

In [11]:
df_oecd.head()

     Country                                        Variable  Year    value
0  Australia                    Total international receipts  2008  31159.8
1  Australia                   International travel receipts  2008  28014.3
2  Australia      International passenger transport receipts  2008   3145.5
3  Australia  International sea passenger transport receipts  2008      NaN
4  Australia  International air passenger transport receipts  2008      NaN

In [12]:
df_oecd = df_oecd.pivot_table(index=["Country", "Year"], columns = "Variable", values = "value").reset_index()
df_oecd.head()

Variable,Country,Year,International air passenger transport expenditure,International air passenger transport receipts,International other passenger transport expenditure,International other passenger transport receipts,International passenger transport expenditure,International passenger transport receipts,International sea passenger transport expenditure,International sea passenger transport receipts,International travel expenditure,International travel receipts,Total international expenditure,Total international receipts
0,Argentina,2008,1330.01,573.619,9.884,35.604,1400.662,609.223,60.775,0.0,4586.011,4664.070,NaN,NaN
1,Argentina,2009,1191.23,436.557,15.759,29.359,1271.700,465.916,64.715,0.0,4536.354,3988.855,NaN,NaN
2,Argentina,2010,1409.64,576.934,22.468,38.957,1496.990,615.891,64.881,0.0,4950.673,4989.210,NaN,NaN
3,Argentina,2011,1836.02,579.609,32.830,47.024,1934.910,626.633,66.057,0.0,5666.692,5430.953,NaN,NaN
4,Argentina,2012,2246.30,598.663,30.614,51.908,2349.410,650.571,72.491,0.0,6117.435,5013.729,NaN,NaN

In [13]:
# df_wb.head()

In [14]:
# df_wb = df_wb.pivot_table(index=["Country Name", "Year"], columns="Indicator Code", values="value").reset_index()
# df_wb.head()

In [15]:
# df_unpop.head()

# 2. Data Imputation (15 pts)

In [16]:
# df_wb = df_wb.pivot_table(index=["Country Name", "Country Code", "Year", "Indicator Name"], columns="Indicator Code", values="value").reset_index()
df_wb

,Country Name,Country Code,Indicator Name,Indicator Code,Year,value
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1960,NaN
1,Africa Eastern and Southern,AFE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1960,NaN
2,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1960,NaN
3,Africa Western and Central,AFW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1960,NaN
4,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1960,NaN
...,...,...,...,...,...,...
32979,Kosovo,XKX,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,2021,NaN
32980,"Yemen, Rep.",YEM,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,2021,NaN
32981,South Africa,ZAF,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,2021,NaN
32982,Zambia,ZMB,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,2021,NaN
32983,Zimbabwe,ZWE,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,2021,NaN

In [17]:
def interpole_police(group):
    group['Indicator Name'] = group['Indicator Name'].interpolate(limit_area='inside')
    # group['ST.INT.XPND.CD'] = group['ST.INT.XPND.CD'].interpolate(limit_area='inside')
    return group.reset_index()

In [18]:
grouped = df_wb.groupby(["Country Name", "Indicator Name"]).apply(interpole_police)

In [19]:
grouped = grouped.reset_index(drop=True)

In [20]:
# grouped[grouped["Country Name"] == "Afghanistan"]["ST.INT.XPND.CD"], df_wb[df_wb["Country Name"] == "Afghanistan"]["ST.INT.XPND.CD"]
grouped

,index,Country Name,Country Code,Indicator Name,Indicator Code,Year,value
0,268,Afghanistan,AFG,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,1960,NaN
1,800,Afghanistan,AFG,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,1961,NaN
2,1332,Afghanistan,AFG,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,1962,NaN
3,1864,Afghanistan,AFG,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,1963,NaN
4,2396,Afghanistan,AFG,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,1964,NaN
...,...,...,...,...,...,...,...
32979,30589,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2017,158.0
32980,31121,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2018,191.0
32981,31653,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2019,285.0
32982,32185,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2020,66.0
32983,32717,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2021,NaN

In [21]:
grouped[(grouped["Country Name"] == "Afghanistan") & (grouped["Indicator Code"] == "ST.INT.RCPT.CD")][30:]

,index,Country Name,Country Code,Indicator Name,Indicator Code,Year,value
92,15962,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1990,NaN
93,16494,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1991,NaN
94,17026,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1992,NaN
95,17558,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1993,NaN
96,18090,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1994,NaN
97,18622,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1995,NaN
98,19154,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1996,NaN
99,19686,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1997,NaN
100,20218,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1998,NaN
101,20750,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1999,NaN
102,21282,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2000,NaN
103,21814,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2001,NaN
104,22346,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2002,NaN
105,22878,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2003,NaN
106,23410,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2004,NaN
107,23942,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2005,NaN
108,24474,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2006,NaN
109,25006,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2007,NaN
110,25538,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2008,57.0
111,26070,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2009,89.0
112,26602,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2010,147.0
113,27134,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2011,165.0
114,27666,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2012,167.0
115,28198,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2013,179.0
116,28730,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2014,121.0
117,29262,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2015,86.0
118,29794,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2016,62.0
119,30326,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2017,16.0
120,30858,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2018,50.0
121,31390,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2019,85.0
122,31922,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2020,75.0
123,32454,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2021,NaN

# 3. Schema Matching (15 pts)

In [22]:
df_unwto

Variable,Country,CountryCode,Year,Inbound Passenger transport,Inbound Tourism expenditure in the country,Inbound Travel,Outbound Passenger transport,Outbound Tourism expenditure in other countries,Outbound Travel
0,AFGHANISTAN,4,2008,40.0,57.0,17.0,2.0,38.0,36.0
1,AFGHANISTAN,4,2009,53.0,89.0,36.0,2.0,70.0,68.0
2,AFGHANISTAN,4,2010,72.0,147.0,75.0,3.0,106.0,103.0
3,AFGHANISTAN,4,2011,80.0,165.0,85.0,9.0,255.0,246.0
4,AFGHANISTAN,4,2012,65.0,167.0,102.0,5.0,110.0,105.0
...,...,...,...,...,...,...,...,...,...
5246,ZIMBABWE,716,2016,17.0,194.0,177.0,79.0,406.0,327.0
5247,ZIMBABWE,716,2017,9.0,158.0,149.0,22.0,337.0,315.0
5248,ZIMBABWE,716,2018,9.0,191.0,182.0,21.0,269.0,248.0
5249,ZIMBABWE,716,2019,6.0,285.0,279.0,53.0,257.0,204.0
5250,ZIMBABWE,716,2020,3.0,66.0,63.0,22.0,157.0,135.0

In [23]:
#unwto

# df_unwto
df_unwto = df_unwto.rename(columns={"CountryCode" : "countryCodeNum", 
                                    "Country" : "country",
                                    "Year" : "year",
                                    "Inbound Tourism expenditure in the country" : "receipts",
                                    "Outbound Tourism expenditure in other countries" : "expenditures",}).assign(countryCodeAlpha = np.nan,source = "unwto")

In [24]:
x = ["countryCodeNum", "countryCodeAlpha", "country", "year", "receipts", "expenditures", "source"]
df_unwto[df_unwto["country"] == "AFGHANISTAN"]

Variable,country,countryCodeNum,year,Inbound Passenger transport,receipts,Inbound Travel,Outbound Passenger transport,expenditures,Outbound Travel,countryCodeAlpha,source
0,AFGHANISTAN,4,2008,40.0,57.0,17.0,2.0,38.0,36.0,NaN,unwto
1,AFGHANISTAN,4,2009,53.0,89.0,36.0,2.0,70.0,68.0,NaN,unwto
2,AFGHANISTAN,4,2010,72.0,147.0,75.0,3.0,106.0,103.0,NaN,unwto
3,AFGHANISTAN,4,2011,80.0,165.0,85.0,9.0,255.0,246.0,NaN,unwto
4,AFGHANISTAN,4,2012,65.0,167.0,102.0,5.0,110.0,105.0,NaN,unwto
5,AFGHANISTAN,4,2013,41.0,179.0,138.0,6.0,138.0,132.0,NaN,unwto
6,AFGHANISTAN,4,2014,12.0,121.0,109.0,3.0,140.0,137.0,NaN,unwto
7,AFGHANISTAN,4,2015,7.0,86.0,79.0,4.0,151.0,147.0,NaN,unwto
8,AFGHANISTAN,4,2016,13.0,62.0,49.0,10.0,89.0,79.0,NaN,unwto
9,AFGHANISTAN,4,2017,14.0,16.0,2.0,12.0,130.0,118.0,NaN,unwto
10,AFGHANISTAN,4,2018,22.0,50.0,28.0,23.0,226.0,203.0,NaN,unwto
11,AFGHANISTAN,4,2019,13.0,85.0,72.0,39.0,168.0,129.0,NaN,unwto
12,AFGHANISTAN,4,2020,10.0,75.0,65.0,19.0,49.0,30.0,NaN,unwto

In [25]:
df_unwto = df_unwto[x]
df_unwto

Variable,countryCodeNum,countryCodeAlpha,country,year,receipts,expenditures,source
0,4,NaN,AFGHANISTAN,2008,57.0,38.0,unwto
1,4,NaN,AFGHANISTAN,2009,89.0,70.0,unwto
2,4,NaN,AFGHANISTAN,2010,147.0,106.0,unwto
3,4,NaN,AFGHANISTAN,2011,165.0,255.0,unwto
4,4,NaN,AFGHANISTAN,2012,167.0,110.0,unwto
...,...,...,...,...,...,...,...
5246,716,NaN,ZIMBABWE,2016,194.0,406.0,unwto
5247,716,NaN,ZIMBABWE,2017,158.0,337.0,unwto
5248,716,NaN,ZIMBABWE,2018,191.0,269.0,unwto
5249,716,NaN,ZIMBABWE,2019,285.0,257.0,unwto
5250,716,NaN,ZIMBABWE,2020,66.0,157.0,unwto

In [26]:
df_unwto.columns

Index(['countryCodeNum', 'countryCodeAlpha', 'country', 'year', 'receipts',
       'expenditures', 'source'],
      dtype='object', name='Variable')

In [27]:
#wb
#df_wb is names as grouped in the second part
# i have pivoted the wb data frame here not in the earlier parts becasue i didn't want to lose the indicator name 
# even though it has two unique values i thought that might be needed in the coming parts 
# Now that in part three it has been mentioned to drop everything other than the common shema now pivoting without Indicator Name

grouped = grouped.pivot_table(index=["Country Name", "Country Code", "Year"], columns="Indicator Code", values="value").reset_index()
grouped

Indicator Code Country Name Country Code  Year  ST.INT.RCPT.CD  ST.INT.XPND.CD
0               Afghanistan          AFG  2008            57.0            38.0
1               Afghanistan          AFG  2009            89.0            70.0
2               Afghanistan          AFG  2010           147.0           106.0
3               Afghanistan          AFG  2011           165.0           255.0
4               Afghanistan          AFG  2012           167.0           110.0
...                     ...          ...   ...             ...             ...
5297               Zimbabwe          ZWE  2003            61.0             NaN
5298               Zimbabwe          ZWE  2004           194.0             NaN
5299               Zimbabwe          ZWE  2005            99.0             NaN
5300               Zimbabwe          ZWE  2006           338.0             NaN
5301               Zimbabwe          ZWE  2007           365.0             NaN

[5302 rows x 5 columns]

In [28]:
grouped = grouped.rename(columns={"Country Code" : "countryCodeAlpha",
                                "Country Name" : "country",
                                "Year" : "year",
                                "ST.INT.RCPT.CD" : "receipts",
                                "ST.INT.XPND.CD" : "expenditures",}).assign(countryCodeNum = np.nan, source = "wb")

In [29]:
grouped = grouped[x]
grouped

Indicator Code,countryCodeNum,countryCodeAlpha,country,year,receipts,expenditures,source
0,NaN,AFG,Afghanistan,2008,57.0,38.0,wb
1,NaN,AFG,Afghanistan,2009,89.0,70.0,wb
2,NaN,AFG,Afghanistan,2010,147.0,106.0,wb
3,NaN,AFG,Afghanistan,2011,165.0,255.0,wb
4,NaN,AFG,Afghanistan,2012,167.0,110.0,wb
...,...,...,...,...,...,...,...
5297,NaN,ZWE,Zimbabwe,2003,61.0,NaN,wb
5298,NaN,ZWE,Zimbabwe,2004,194.0,NaN,wb
5299,NaN,ZWE,Zimbabwe,2005,99.0,NaN,wb
5300,NaN,ZWE,Zimbabwe,2006,338.0,NaN,wb
5301,NaN,ZWE,Zimbabwe,2007,365.0,NaN,wb

In [30]:
# oecd
df_oecd = df_oecd.rename(columns={ "Country" : "country",
                                    "Year" : "year",
                                    "Total international receipts" : "receipts",
                                    "Total international expenditure" : "expenditures",}).assign(countryCodeNum = np.nan, countryCodeAlpha = np.nan, source = "oecd")

In [31]:
df_oecd = df_oecd[x]
df_oecd

Variable,countryCodeNum,countryCodeAlpha,country,year,receipts,expenditures,source
0,NaN,NaN,Argentina,2008,NaN,NaN,oecd
1,NaN,NaN,Argentina,2009,NaN,NaN,oecd
2,NaN,NaN,Argentina,2010,NaN,NaN,oecd
3,NaN,NaN,Argentina,2011,NaN,NaN,oecd
4,NaN,NaN,Argentina,2012,NaN,NaN,oecd
...,...,...,...,...,...,...,...
724,NaN,NaN,United States,2017,233759.0,158290.0,oecd
725,NaN,NaN,United States,2018,241985.0,176817.0,oecd
726,NaN,NaN,United States,2019,239446.0,186080.0,oecd
727,NaN,NaN,United States,2020,84206.0,48840.0,oecd
728,NaN,NaN,United States,2021,80956.0,74121.0,oecd

# 4. Entity Resolution

In [32]:
# new table (country_codes) that has latest entry's just the country names and codes, deduplicated.

country_codes = df_unpop.sort_values("Year", ascending=False)
country_codes = country_codes.drop_duplicates(subset="Country", keep="first")
country_codes = country_codes[["Country", "NumericCode", "AlphaCode"]]
country_codes.reset_index(drop = True, inplace=True)
country_codes

                       Country  NumericCode AlphaCode
0    Wallis and Futuna Islands          876       WLF
1                   Cabo Verde          132       CPV
2     Central African Republic          140       CAF
3                     Guernsey          831       GGY
4                        China          156       CHN
..                         ...          ...       ...
232                     Panama          591       PAN
233                      Sudan          729       SDN
234                    Estonia          233       EST
235          Brunei Darussalam           96       BRN
236                     Uganda          800       UGA

[237 rows x 3 columns]

In [33]:
# removing all the countries punctuations and converting into upper case
import string
df_unwto.loc[:,'country'] = df_unwto["country"].str.replace(r'[^\w\s]+', '', regex=True)
df_unwto['country'] = df_unwto["country"].str.upper()
grouped.loc[:,'country'] = grouped["country"].str.replace(r'[^\w\s]+', '', regex=True)
grouped['country'] = grouped["country"].str.upper()
df_oecd.loc[:,'country'] = df_oecd["country"].str.replace(r'[^\w\s]+', '', regex=True)
df_oecd['country'] = df_oecd["country"].str.upper()

# renaming the country_codes's columns for convinence
country_codes = country_codes.rename(columns={"Country" : "country", "NumericCode": "countryCodeNum", "AlphaCode": "countryCodeAlpha"})
country_codes.loc[:,'country'] = country_codes["country"].str.replace(r'[^\w\s]+', '', regex=True)
country_codes['country'] = country_codes["country"].str.upper()

## 4a. Using Country Codes (10 pts)

In [34]:
# the above warning can be ignored 
country_codes.head()

                     country  countryCodeNum countryCodeAlpha
0  WALLIS AND FUTUNA ISLANDS             876              WLF
1                 CABO VERDE             132              CPV
2   CENTRAL AFRICAN REPUBLIC             140              CAF
3                   GUERNSEY             831              GGY
4                      CHINA             156              CHN

In [35]:
grouped.head()

Indicator Code,countryCodeNum,countryCodeAlpha,country,year,receipts,expenditures,source
0,NaN,AFG,AFGHANISTAN,2008,57.0,38.0,wb
1,NaN,AFG,AFGHANISTAN,2009,89.0,70.0,wb
2,NaN,AFG,AFGHANISTAN,2010,147.0,106.0,wb
3,NaN,AFG,AFGHANISTAN,2011,165.0,255.0,wb
4,NaN,AFG,AFGHANISTAN,2012,167.0,110.0,wb

In [36]:
# i am doing left join because i want keep all the rows in the wb(grouped) data. i dont just wanna keep the rows that only matches with unpop
grouped_4a = pd.merge(grouped, country_codes, left_on="countryCodeAlpha", right_on="countryCodeAlpha", how="left")

In [37]:
grouped_4a = grouped_4a.drop(["countryCodeNum_x", "country_y"], axis=1).rename(columns={"country_x": "country", "countryCodeNum_y":"countryCodeNum"})
grouped_4a

,countryCodeAlpha,country,year,receipts,expenditures,source,countryCodeNum
0,AFG,AFGHANISTAN,2008,57.0,38.0,wb,4.0
1,AFG,AFGHANISTAN,2009,89.0,70.0,wb,4.0
2,AFG,AFGHANISTAN,2010,147.0,106.0,wb,4.0
3,AFG,AFGHANISTAN,2011,165.0,255.0,wb,4.0
4,AFG,AFGHANISTAN,2012,167.0,110.0,wb,4.0
...,...,...,...,...,...,...,...
5297,ZWE,ZIMBABWE,2003,61.0,NaN,wb,716.0
5298,ZWE,ZIMBABWE,2004,194.0,NaN,wb,716.0
5299,ZWE,ZIMBABWE,2005,99.0,NaN,wb,716.0
5300,ZWE,ZIMBABWE,2006,338.0,NaN,wb,716.0
5301,ZWE,ZIMBABWE,2007,365.0,NaN,wb,716.0

In [38]:
grouped_4a[grouped_4a["countryCodeNum"].isna()]["country"].unique()
# these are the ones that are listed as countries in the wb data that donot match with unpop countries.

array(['AFRICA EASTERN AND SOUTHERN', 'AFRICA WESTERN AND CENTRAL',
       'ARAB WORLD', 'CARIBBEAN SMALL STATES',
       'CENTRAL EUROPE AND THE BALTICS', 'EARLYDEMOGRAPHIC DIVIDEND',
       'EURO AREA', 'EUROPE  CENTRAL ASIA',
       'EUROPE  CENTRAL ASIA IDA  IBRD COUNTRIES',
       'EUROPE  CENTRAL ASIA EXCLUDING HIGH INCOME', 'EUROPEAN UNION',
       'FRAGILE AND CONFLICT AFFECTED SITUATIONS',
       'HEAVILY INDEBTED POOR COUNTRIES HIPC', 'HIGH INCOME', 'IBRD ONLY',
       'IDA  IBRD TOTAL', 'IDA BLEND', 'IDA ONLY', 'IDA TOTAL',
       'LATIN AMERICA  CARIBBEAN',
       'LATIN AMERICA  CARIBBEAN EXCLUDING HIGH INCOME',
       'LATIN AMERICA  THE CARIBBEAN IDA  IBRD COUNTRIES',
       'LEAST DEVELOPED COUNTRIES UN CLASSIFICATION',
       'LOW  MIDDLE INCOME', 'LOW INCOME', 'LOWER MIDDLE INCOME',
       'MIDDLE EAST  NORTH AFRICA',
       'MIDDLE EAST  NORTH AFRICA IDA  IBRD COUNTRIES',
       'MIDDLE EAST  NORTH AFRICA EXCLUDING HIGH INCOME', 'MIDDLE INCOME',
       'NORTH AMERICA', 'OECD MEMBERS', 'PACIFIC ISLAND SMALL STATES',
       'POSTDEMOGRAPHIC DIVIDEND', 'PREDEMOGRAPHIC DIVIDEND',
       'SMALL STATES', 'SOUTH ASIA', 'SUBSAHARAN AFRICA',
       'SUBSAHARAN AFRICA IDA  IBRD COUNTRIES',
       'SUBSAHARAN AFRICA EXCLUDING HIGH INCOME', 'WORLD'], dtype=object)

In [39]:
df_unwto_4a = pd.merge(df_unwto, country_codes, left_on="countryCodeNum", right_on="countryCodeNum", how="left")

In [40]:
df_unwto_4a

,countryCodeNum,countryCodeAlpha_x,country_x,year,receipts,expenditures,source,country_y,countryCodeAlpha_y
0,4,NaN,AFGHANISTAN,2008,57.0,38.0,unwto,AFGHANISTAN,AFG
1,4,NaN,AFGHANISTAN,2009,89.0,70.0,unwto,AFGHANISTAN,AFG
2,4,NaN,AFGHANISTAN,2010,147.0,106.0,unwto,AFGHANISTAN,AFG
3,4,NaN,AFGHANISTAN,2011,165.0,255.0,unwto,AFGHANISTAN,AFG
4,4,NaN,AFGHANISTAN,2012,167.0,110.0,unwto,AFGHANISTAN,AFG
...,...,...,...,...,...,...,...,...,...
5246,716,NaN,ZIMBABWE,2016,194.0,406.0,unwto,ZIMBABWE,ZWE
5247,716,NaN,ZIMBABWE,2017,158.0,337.0,unwto,ZIMBABWE,ZWE
5248,716,NaN,ZIMBABWE,2018,191.0,269.0,unwto,ZIMBABWE,ZWE
5249,716,NaN,ZIMBABWE,2019,285.0,257.0,unwto,ZIMBABWE,ZWE
5250,716,NaN,ZIMBABWE,2020,66.0,157.0,unwto,ZIMBABWE,ZWE

In [41]:
# after merging the dataframes the countries that didn't match are the ones below
df_unwto_4a[df_unwto_4a["countryCodeAlpha_y"].isna()][["country_x", "countryCodeNum", "countryCodeAlpha_y", "country_y"]].drop_duplicates()

                  country_x  countryCodeNum countryCodeAlpha_y country_y
1597               ETHIOPIA             230                NaN       NaN
1800                GERMANY             280                NaN       NaN
4183  SERBIA AND MONTENEGRO             891                NaN       NaN
4492                  SUDAN             736                NaN       NaN
5178                  YEMEN             886                NaN       NaN

In [42]:
# updating the codes manually
df_unwto_4a.loc[df_unwto_4a["country_x"] == "YEMEN", "countryCodeNum"] = 887
df_unwto_4a.loc[df_unwto_4a["country_x"] == "YEMEN", "countryCodeAlpha_y"] = "YEM"
df_unwto_4a.loc[df_unwto_4a["country_x"] == "ETHIOPIA", "countryCodeNum"] = 231
df_unwto_4a.loc[df_unwto_4a["country_x"] == "ETHIOPIA", "countryCodeAlpha_y"] = "ETH"
df_unwto_4a.loc[df_unwto_4a["country_x"] == "SERBIA AND MONTENEGRO", "countryCodeNum"] = 891
df_unwto_4a.loc[df_unwto_4a["country_x"] == "SERBIA AND MONTENEGRO", "countryCodeAlpha_y"] = "SRB"
df_unwto_4a.loc[df_unwto_4a["country_x"] == "SUDAN", "countryCodeNum"] = 729
df_unwto_4a.loc[df_unwto_4a["country_x"] == "SUDAN", "countryCodeAlpha_y"] = "SDN"
df_unwto_4a.loc[df_unwto_4a["country_x"] == "GERMANY", "countryCodeNum"] = 276
df_unwto_4a.loc[df_unwto_4a["country_x"] == "GERMANY", "countryCodeAlpha_y"] = "DEU"

In [43]:
# df_unwto_4a = df_unwto_4a.drop(columns= ["countryCodeAlpha_x", ""])
# df_unwto_4a[df_unwto_4a["country_x"] != df_unwto_4a["country_y"]][["countryCodeNum","country_x", "country_y", "countryCodeAlpha_y"]].drop_duplicates()
df_unwto_4a = df_unwto_4a.drop(columns=["countryCodeAlpha_x", "country_y"], axis = 1).rename(columns = {"country_x":"country", "countryCodeAlpha_y": "countryCodeAlpha"})
df_unwto_4a

,countryCodeNum,country,year,receipts,expenditures,source,countryCodeAlpha
0,4,AFGHANISTAN,2008,57.0,38.0,unwto,AFG
1,4,AFGHANISTAN,2009,89.0,70.0,unwto,AFG
2,4,AFGHANISTAN,2010,147.0,106.0,unwto,AFG
3,4,AFGHANISTAN,2011,165.0,255.0,unwto,AFG
4,4,AFGHANISTAN,2012,167.0,110.0,unwto,AFG
...,...,...,...,...,...,...,...
5246,716,ZIMBABWE,2016,194.0,406.0,unwto,ZWE
5247,716,ZIMBABWE,2017,158.0,337.0,unwto,ZWE
5248,716,ZIMBABWE,2018,191.0,269.0,unwto,ZWE
5249,716,ZIMBABWE,2019,285.0,257.0,unwto,ZWE
5250,716,ZIMBABWE,2020,66.0,157.0,unwto,ZWE

## 4b. Using name matches (10 pts)

In [44]:
df_oecd_4b = pd.merge(df_oecd, country_codes, left_on="country", right_on="country", how="left")

In [45]:
df_oecd_4b = df_oecd_4b.drop(columns=["countryCodeNum_x", "countryCodeAlpha_x"], axis =1).rename(columns = {"countryCodeNum_y" : "countryCodeNum", "countryCodeAlpha_y":"countryCodeAlpha"})
df_oecd_4b

,country,year,receipts,expenditures,source,countryCodeNum,countryCodeAlpha
0,ARGENTINA,2008,NaN,NaN,oecd,32.0,ARG
1,ARGENTINA,2009,NaN,NaN,oecd,32.0,ARG
2,ARGENTINA,2010,NaN,NaN,oecd,32.0,ARG
3,ARGENTINA,2011,NaN,NaN,oecd,32.0,ARG
4,ARGENTINA,2012,NaN,NaN,oecd,32.0,ARG
...,...,...,...,...,...,...,...
724,UNITED STATES,2017,233759.0,158290.0,oecd,NaN,NaN
725,UNITED STATES,2018,241985.0,176817.0,oecd,NaN,NaN
726,UNITED STATES,2019,239446.0,186080.0,oecd,NaN,NaN
727,UNITED STATES,2020,84206.0,48840.0,oecd,NaN,NaN
728,UNITED STATES,2021,80956.0,74121.0,oecd,NaN,NaN

In [46]:
# the countries that were not matched with country_codes table

df_oecd_4b[(df_oecd_4b["countryCodeNum"].isna()) | (df_oecd_4b["countryCodeAlpha"].isna())]["country"].unique()

array(['CHINA PEOPLES REPUBLIC OF', 'CZECH REPUBLIC', 'KOREA', 'RUSSIA',
       'SLOVAK REPUBLIC', 'UNITED STATES'], dtype=object)

## 4c. [CS 680 Only] Using record linkage tools (10 pts)

### oecd

In [47]:
import fuzzymatcher
column = ["country", "countryCodeNum"]
match = fuzzymatcher.link_table(df_oecd_4b, country_codes, column, column)
# finding the top-ranked match and top scored match
match1 = match[(match["match_rank"] == 1)]

In [48]:
# finding the top-ranked match and top scored match
# used dropna() because of no match for russia and russia is named as RUSSIAN FEDERATION in the unpop and fuzzymatcher didn't match with russia.
# top_matches = match.reset_index().groupby('country_left')['match_score'].idxmax().reset_index()
# matched_df = match.loc[top_matches['match_score'].dropna()]

In [49]:
country_codes[country_codes["country"] == "RUSSIAN FEDERATION"]

                country  countryCodeNum countryCodeAlpha
222  RUSSIAN FEDERATION             643              RUS

In [50]:
# dropping the id columns and renaming the columns
matched_df1 = match1.drop(columns=["__id_left", "__id_right", "match_score", "match_rank"]).rename(columns={"country_left" : "country_oced", "country_right": "country_unpop"})

In [51]:
matched_df1 = matched_df1.reset_index(drop=True)

In [52]:
matched_df1

,country_oced,country_unpop,countryCodeNum_left,countryCodeNum_right
0,ARGENTINA,ARGENTINA,32.0,32.0
1,ARGENTINA,ARGENTINA,32.0,32.0
2,ARGENTINA,ARGENTINA,32.0,32.0
3,ARGENTINA,ARGENTINA,32.0,32.0
4,ARGENTINA,ARGENTINA,32.0,32.0
...,...,...,...,...
724,UNITED STATES,UNITED STATES VIRGIN ISLANDS,NaN,850.0
725,UNITED STATES,UNITED STATES VIRGIN ISLANDS,NaN,850.0
726,UNITED STATES,UNITED STATES VIRGIN ISLANDS,NaN,850.0
727,UNITED STATES,UNITED STATES VIRGIN ISLANDS,NaN,850.0
728,UNITED STATES,UNITED STATES VIRGIN ISLANDS,NaN,850.0

In [53]:
df_oecd_4b

,country,year,receipts,expenditures,source,countryCodeNum,countryCodeAlpha
0,ARGENTINA,2008,NaN,NaN,oecd,32.0,ARG
1,ARGENTINA,2009,NaN,NaN,oecd,32.0,ARG
2,ARGENTINA,2010,NaN,NaN,oecd,32.0,ARG
3,ARGENTINA,2011,NaN,NaN,oecd,32.0,ARG
4,ARGENTINA,2012,NaN,NaN,oecd,32.0,ARG
...,...,...,...,...,...,...,...
724,UNITED STATES,2017,233759.0,158290.0,oecd,NaN,NaN
725,UNITED STATES,2018,241985.0,176817.0,oecd,NaN,NaN
726,UNITED STATES,2019,239446.0,186080.0,oecd,NaN,NaN
727,UNITED STATES,2020,84206.0,48840.0,oecd,NaN,NaN
728,UNITED STATES,2021,80956.0,74121.0,oecd,NaN,NaN

In [54]:
# Check for equality
mask = matched_df1["country_oced"] == df_oecd_4b["country"]

# Replace values where mask is True
df_oecd_4b.loc[mask, "country"] = matched_df1.loc[mask, "country_unpop"]

In [55]:
# in the matched_df the united states got united states virgin islands.
df_oecd_4b["country"] = df_oecd_4b["country"].replace("UNITED STATES VIRGIN ISLANDS", "UNITED STATES OF AMERICA")

country_codes[country_codes["country"] == "UNITED STATES OF AMERICA"]
df_oecd_4b.loc[df_oecd_4b["country"] == "UNITED STATES OF AMERICA", "countryCodeNum"] = 840
df_oecd_4b.loc[df_oecd_4b["country"] == "UNITED STATES OF AMERICA", "countryCodeAlpha"] = "USA"

In [56]:
df_oecd_4b[df_oecd_4b["country"].isna()]

,country,year,receipts,expenditures,source,countryCodeNum,countryCodeAlpha
581,NaN,2009,12369.8,23785.2,oecd,NaN,NaN
582,NaN,2010,13239.9,30169.0,oecd,NaN,NaN
583,NaN,2011,16961.0,37343.3,oecd,NaN,NaN
584,NaN,2012,17875.6,48096.1,oecd,NaN,NaN
585,NaN,2013,20198.8,59503.4,oecd,NaN,NaN
586,NaN,2014,19451.1,55382.0,oecd,NaN,NaN
587,NaN,2015,13185.6,38431.8,oecd,NaN,NaN
588,NaN,2016,12821.8,27653.9,oecd,NaN,NaN
589,NaN,2017,14937.4,35583.9,oecd,NaN,NaN
590,NaN,2018,18735.4,38790.5,oecd,NaN,NaN
591,NaN,2019,17669.9,40610.5,oecd,NaN,NaN

In [57]:
country_codes[country_codes["country"] == "RUSSIAN FEDERATION"]

                country  countryCodeNum countryCodeAlpha
222  RUSSIAN FEDERATION             643              RUS

In [58]:
# russia is matched with NaN when fuzzymatch is used so i am replacing the country nan value with russian federation and its codes too.

df_oecd_4b["country"].fillna("RUSSIAN FEDERATION")
df_oecd_4b.loc[df_oecd_4b["country"] == "RUSSIAN FEDERATION", "countryCodeNum"] = 643
df_oecd_4b.loc[df_oecd_4b["country"] == "RUSSIAN FEDERATION", "countryCodeAlpha"] = "RUS"

In [59]:
df_oecd_4c = df_oecd_4b

### unwto

In [60]:
df_unwto_4a
column1 = ["country", "countryCodeNum"]
match2 = fuzzymatcher.link_table(df_unwto_4a, country_codes, column1, column1)

In [61]:
match3 = match2[match2["match_rank"] ==1]

In [62]:
match3

,__id_left,__id_right,match_score,match_rank,country_left,country_right,countryCodeNum_left,countryCodeNum_right
0,0_left,200_right,0.252461,1,AFGHANISTAN,AFGHANISTAN,4,4
1,1_left,200_right,0.252461,1,AFGHANISTAN,AFGHANISTAN,4,4
2,2_left,200_right,0.252461,1,AFGHANISTAN,AFGHANISTAN,4,4
3,3_left,200_right,0.252461,1,AFGHANISTAN,AFGHANISTAN,4,4
4,4_left,200_right,0.252461,1,AFGHANISTAN,AFGHANISTAN,4,4
...,...,...,...,...,...,...,...,...
5662,5246_left,146_right,0.252461,1,ZIMBABWE,ZIMBABWE,716,716
5663,5247_left,146_right,0.252461,1,ZIMBABWE,ZIMBABWE,716,716
5664,5248_left,146_right,0.252461,1,ZIMBABWE,ZIMBABWE,716,716
5665,5249_left,146_right,0.252461,1,ZIMBABWE,ZIMBABWE,716,716
5666,5250_left,146_right,0.252461,1,ZIMBABWE,ZIMBABWE,716,716

In [63]:
# the different ones that gave their best match
match3[(match3["country_left"] != match3["country_right"])][["country_left", "country_right","countryCodeNum_left", "countryCodeNum_right"]].drop_duplicates()

,country_left,country_right,countryCodeNum_left,countryCodeNum_right
608,BONAIRE,BONAIRE SINT EUSTATIUS AND SABA,534,535
1119,CONGO DEMOCRATIC REPUBLIC OF THE,DEMOCRATIC REPUBLIC OF THE CONGO,180,180
1187,COTE DIVOIRE,CÔTE DIVOIRE,384,384
1347,CZECH REPUBLIC CZECHIA,CZECHIA,203,203
2419,HONG KONG CHINA,CHINA HONG KONG SAR,344,344
2842,KOREA REPUBLIC OF,REPUBLIC OF KOREA,410,410
3124,MACAO CHINA,CHINA MACAO SAR,446,446
3429,MICRONESIA FEDERATED STATES OF,MICRONESIA FED STATES OF,583,583
3448,MOLDOVA REPUBLIC OF,REPUBLIC OF MOLDOVA,498,498
4215,REUNION,RÉUNION,638,638
4522,SERBIA AND MONTENEGRO,SERBIA,891,688
5033,TAIWAN PROVINCE OF CHINA,CHINA TAIWAN PROVINCE OF CHINA,158,158
5080,TANZANIA UNITED REPUBLIC OF,UNITED REPUBLIC OF TANZANIA,834,834

In [64]:
# match3[(match3["country_left"] != match3["country_right"])][["country_left", "country_right", "countryCodeNum_left", "countryCodeNum_right"]].drop_duplicates()
# & (match3["countryCodeNum_left"] == match3["countryCodeNum_right"])

In [65]:
match3 = match3.drop(columns=["__id_left", "__id_right", "countryCodeNum_left", "countryCodeNum_right"]).rename(columns={"country_left": "country_unwto", "country_right": "country_unpop"})

In [66]:
match3 = match3.drop(columns=["match_score", "match_rank"])

In [67]:
temp = pd.DataFrame(match3["country_unpop"])
temp = temp.reset_index(drop=True)
df_unwto_4a = df_unwto_4a.reset_index(drop=True)

df_unwto_4a["country"] = temp

In [68]:
# check weather the data is upodated or not "korea republic of" became "republic of Korea" and the country codes not chaged
df_unwto_4a[df_unwto_4a["country"] == "REPUBLIC OF KOREA"][:1]

,countryCodeNum,country,year,receipts,expenditures,source,countryCodeAlpha
2503,410,REPUBLIC OF KOREA,1995,6670.0,6947.0,unwto,KOR

In [69]:
df_unwto_4c = df_unwto_4a

### grouped(wb)

In [70]:
column1 = ["country", "countryCodeAlpha"]
match4 = fuzzymatcher.link_table(grouped_4a, country_codes, column1, column1)

In [71]:
grouped_4a["countryCodeAlpha"].isna().value_counts()

False    5302
Name: countryCodeAlpha, dtype: int64

In [72]:
# here i don't need to take rows that are ranked 1 because we already have countryCodeAlpha with no problems as we can see no null values in the 
# grouped_4a and we can do the same thing for the unwto data i didn't wish to because
# there is one entry that is like below

# which should have same countrycode_num 

#	country_left	country_right	countryCodeNum_left	countryCodeNum_right
# 608	BONAIRE	BONAIRE SINT EUSTATIUS AND SABA	534	535

In [73]:
match5 = match4[(match4["country_left"] != match4["country_right"]) & (match4["countryCodeAlpha_left"] == match4["countryCodeAlpha_right"])][["country_left", "country_right", "countryCodeAlpha_left", "countryCodeAlpha_right"]].drop_duplicates()

In [74]:
replace_dict = match5.set_index("country_left")["country_right"].to_dict()
replace_dict

{'BAHAMAS THE': 'BAHAMAS',
 'BOLIVIA': 'BOLIVIA PLURINATIONAL STATE OF',
 'CONGO DEM REP': 'DEMOCRATIC REPUBLIC OF THE CONGO',
 'CONGO REP': 'CONGO',
 'COTE DIVOIRE': 'CÔTE DIVOIRE',
 'CURACAO': 'CURAÇAO',
 'EGYPT ARAB REP': 'EGYPT',
 'GAMBIA THE': 'GAMBIA',
 'HONG KONG SAR CHINA': 'CHINA HONG KONG SAR',
 'IRAN ISLAMIC REP': 'IRAN ISLAMIC REPUBLIC OF',
 'KOREA REP': 'REPUBLIC OF KOREA',
 'KYRGYZ REPUBLIC': 'KYRGYZSTAN',
 'LAO PDR': 'LAO PEOPLES DEMOCRATIC REPUBLIC',
 'MACAO SAR CHINA': 'CHINA MACAO SAR',
 'MICRONESIA FED STS': 'MICRONESIA FED STATES OF',
 'MOLDOVA': 'REPUBLIC OF MOLDOVA',
 'SLOVAK REPUBLIC': 'SLOVAKIA',
 'ST KITTS AND NEVIS': 'SAINT KITTS AND NEVIS',
 'ST LUCIA': 'SAINT LUCIA',
 'ST VINCENT AND THE GRENADINES': 'SAINT VINCENT AND THE GRENADINES',
 'TANZANIA': 'UNITED REPUBLIC OF TANZANIA',
 'TURKIYE': 'TÜRKIYE',
 'UNITED STATES': 'UNITED STATES OF AMERICA',
 'VENEZUELA RB': 'VENEZUELA BOLIVARIAN REPUBLIC OF',
 'VIETNAM': 'VIET NAM',
 'VIRGIN ISLANDS US': 'UNITED STATES VIRGIN ISLANDS',
 'WEST BANK AND GAZA': 'STATE OF PALESTINE',
 'YEMEN REP': 'YEMEN'}

In [75]:
grouped_4a["country"] = grouped_4a["country"].replace(replace_dict)

In [76]:
# grouped_4a[grouped_4a["countryCodeAlpha"] == "BHS"]
# replace_dict
grouped_4c = grouped_4a

## 4d. Concatenation (5 pts)

In [77]:
concated_df = pd.concat([df_unwto_4c, grouped_4c, df_oecd_4c], ignore_index=True)
concated_df

,countryCodeNum,country,year,receipts,expenditures,source,countryCodeAlpha
0,4.0,AFGHANISTAN,2008,57.0,38.0,unwto,AFG
1,4.0,AFGHANISTAN,2009,89.0,70.0,unwto,AFG
2,4.0,AFGHANISTAN,2010,147.0,106.0,unwto,AFG
3,4.0,AFGHANISTAN,2011,165.0,255.0,unwto,AFG
4,4.0,AFGHANISTAN,2012,167.0,110.0,unwto,AFG
...,...,...,...,...,...,...,...
11277,840.0,UNITED STATES OF AMERICA,2017,233759.0,158290.0,oecd,USA
11278,840.0,UNITED STATES OF AMERICA,2018,241985.0,176817.0,oecd,USA
11279,840.0,UNITED STATES OF AMERICA,2019,239446.0,186080.0,oecd,USA
11280,840.0,UNITED STATES OF AMERICA,2020,84206.0,48840.0,oecd,USA
11281,840.0,UNITED STATES OF AMERICA,2021,80956.0,74121.0,oecd,USA

In [78]:
# below are the countries that have no countrycodeNum they mostly look like regions we can drop them except the last 4 ones they are countries
concated_df[concated_df["countryCodeNum"].isna()][["country", "countryCodeNum", "countryCodeAlpha"]].drop_duplicates()

,country,countryCodeNum,countryCodeAlpha
5264,AFRICA EASTERN AND SOUTHERN,NaN,AFE
5289,AFRICA WESTERN AND CENTRAL,NaN,AFW
5392,ARAB WORLD,NaN,ARB
6088,CARIBBEAN SMALL STATES,NaN,CSS
6156,CENTRAL EUROPE AND THE BALTICS,NaN,CEB
6579,EARLYDEMOGRAPHIC DIVIDEND,NaN,EAR
6770,EURO AREA,NaN,EMU
6795,EUROPE CENTRAL ASIA,NaN,ECS
6816,EUROPE CENTRAL ASIA IDA IBRD COUNTRIES,NaN,TEC
6835,EUROPE CENTRAL ASIA EXCLUDING HIGH INCOME,NaN,ECA
6854,EUROPEAN UNION,NaN,EUU
6931,FRAGILE AND CONFLICT AFFECTED SITUATIONS,NaN,FCS
7259,HEAVILY INDEBTED POOR COUNTRIES HIPC,NaN,HPC
7284,HIGH INCOME,NaN,HIC
7386,IBRD ONLY,NaN,IBD
7406,IDA IBRD TOTAL,NaN,IBT
7426,IDA BLEND,NaN,IDB
7451,IDA ONLY,NaN,IDX
7475,IDA TOTAL,NaN,IDA
7901,LATIN AMERICA CARIBBEAN,NaN,LCN
7926,LATIN AMERICA CARIBBEAN EXCLUDING HIGH INCOME,NaN,LAC
7951,LATIN AMERICA THE CARIBBEAN IDA IBRD COUNTRIES,NaN,TLA
7989,LEAST DEVELOPED COUNTRIES UN CLASSIFICATION,NaN,LDC
8104,LOW MIDDLE INCOME,NaN,LMY
8124,LOW INCOME,NaN,LIC
8149,LOWER MIDDLE INCOME,NaN,LMC
8462,MIDDLE EAST NORTH AFRICA,NaN,MEA
8479,MIDDLE EAST NORTH AFRICA IDA IBRD COUNTRIES,NaN,TMN
8504,MIDDLE EAST NORTH AFRICA EXCLUDING HIGH INCOME,NaN,MNA
8529,MIDDLE INCOME,NaN,MIC
8875,NORTH AMERICA,NaN,NAC
8952,OECD MEMBERS,NaN,OED
9000,PACIFIC ISLAND SMALL STATES,NaN,PSS
9241,POSTDEMOGRAPHIC DIVIDEND,NaN,PST
9266,PREDEMOGRAPHIC DIVIDEND,NaN,PRE
9637,SMALL STATES,NaN,SST
9698,SOUTH ASIA,NaN,SAS
9801,SUBSAHARAN AFRICA,NaN,SSF
9826,SUBSAHARAN AFRICA IDA IBRD COUNTRIES,NaN,TSS
9851,SUBSAHARAN AFRICA EXCLUDING HIGH INCOME,NaN,SSA
10459,WORLD,NaN,WLD
10659,DEM PEOPLES REPUBLIC OF KOREA,NaN,NaN
10711,DOMINICAN REPUBLIC,NaN,NaN
10938,REPUBLIC OF KOREA,NaN,NaN
11134,NaN,NaN,NaN

In [79]:
concated_df[concated_df["countryCodeAlpha"].isna()][["country", "countryCodeNum", "countryCodeAlpha", "source"]].drop_duplicates()

                             country  countryCodeNum countryCodeAlpha source
10659  DEM PEOPLES REPUBLIC OF KOREA             NaN              NaN   oecd
10711             DOMINICAN REPUBLIC             NaN              NaN   oecd
10938              REPUBLIC OF KOREA             NaN              NaN   oecd
11134                            NaN             NaN              NaN   oecd

In [80]:
# concated_df.loc[concated_df["country"] == "DEM PEOPLES REPUBLIC OF KOREA", "countryCodeAlpha"] = "PRK"
# concated_df.loc[concated_df["country"] == "DEM PEOPLES REPUBLIC OF KOREA", "countryCodeNum"] = 408

concated_df[concated_df["country"] == "DEM PEOPLES REPUBLIC OF KOREA"]

,countryCodeNum,country,year,receipts,expenditures,source,countryCodeAlpha
10659,NaN,DEM PEOPLES REPUBLIC OF KOREA,2008,40843.000,36157.000,oecd,NaN
10660,NaN,DEM PEOPLES REPUBLIC OF KOREA,2009,39675.000,43701.700,oecd,NaN
10661,NaN,DEM PEOPLES REPUBLIC OF KOREA,2010,45814.000,54880.000,oecd,NaN
10662,NaN,DEM PEOPLES REPUBLIC OF KOREA,2011,48464.000,72585.100,oecd,NaN
10663,NaN,DEM PEOPLES REPUBLIC OF KOREA,2012,50028.000,101977.000,oecd,NaN
10664,NaN,DEM PEOPLES REPUBLIC OF KOREA,2013,51664.000,128576.000,oecd,NaN
10665,NaN,DEM PEOPLES REPUBLIC OF KOREA,2014,44043.681,227343.733,oecd,NaN
10666,NaN,DEM PEOPLES REPUBLIC OF KOREA,2015,44968.719,249830.544,oecd,NaN
10667,NaN,DEM PEOPLES REPUBLIC OF KOREA,2016,44425.974,261129.140,oecd,NaN
10668,NaN,DEM PEOPLES REPUBLIC OF KOREA,2017,38799.277,254788.887,oecd,NaN
10669,NaN,DEM PEOPLES REPUBLIC OF KOREA,2018,39467.770,276899.970,oecd,NaN
10670,NaN,DEM PEOPLES REPUBLIC OF KOREA,2019,34458.292,250739.779,oecd,NaN

In [81]:
matched_df1[matched_df1["country_unpop"] == "DEM PEOPLES REPUBLIC OF KOREA"].drop_duplicates()

,country_oced,country_unpop,countryCodeNum_left,countryCodeNum_right
106,CHINA PEOPLES REPUBLIC OF,DEM PEOPLES REPUBLIC OF KOREA,NaN,408.0

In [82]:
# seems like the fuzzymatcher matched CHINA PEOPLES REPUBLIC OF with DEM PEOPLES REPUBLIC OF KOREA 
# it was suspicious becasue receipts and expenditures are high

# seems like these are all the mismatched from the fuzzymatcher so we can mannuly edit them.

# matched_df1[matched_df1["country_unpop"] != matched_df1["country_oced"]].drop_duplicates()
# values took from ISO website
concated_df.loc[concated_df["country"] == "DEM PEOPLES REPUBLIC OF KOREA", "country"] = "PEOPLES REPUBLIC OF CHINA"
concated_df.loc[concated_df["country"] == "PEOPLES REPUBLIC OF CHINA", "countryCodeAlpha"] = "CHN"
concated_df.loc[concated_df["country"] == "PEOPLES REPUBLIC OF CHINA", "countryCodeNum"] = 156

In [83]:
# dropping the rows that are regions and no match for countryCodeAlpha for better use
concated_df = concated_df.dropna(subset = ["countryCodeNum", "countryCodeAlpha"])

In [84]:
concated_df

,countryCodeNum,country,year,receipts,expenditures,source,countryCodeAlpha
0,4.0,AFGHANISTAN,2008,57.0,38.0,unwto,AFG
1,4.0,AFGHANISTAN,2009,89.0,70.0,unwto,AFG
2,4.0,AFGHANISTAN,2010,147.0,106.0,unwto,AFG
3,4.0,AFGHANISTAN,2011,165.0,255.0,unwto,AFG
4,4.0,AFGHANISTAN,2012,167.0,110.0,unwto,AFG
...,...,...,...,...,...,...,...
11277,840.0,UNITED STATES OF AMERICA,2017,233759.0,158290.0,oecd,USA
11278,840.0,UNITED STATES OF AMERICA,2018,241985.0,176817.0,oecd,USA
11279,840.0,UNITED STATES OF AMERICA,2019,239446.0,186080.0,oecd,USA
11280,840.0,UNITED STATES OF AMERICA,2020,84206.0,48840.0,oecd,USA
11281,840.0,UNITED STATES OF AMERICA,2021,80956.0,74121.0,oecd,USA

## 5. Data Fusion (15 pts)

In [85]:
fused_data = concated_df.groupby(["country", "year","countryCodeNum", "countryCodeAlpha"])["receipts", "expenditures"].agg("mean")

/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/2218010745.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fused_data = concated_df.groupby(["country", "year","countryCodeNum", "countryCodeAlpha"])["receipts", "expenditures"].agg("mean")

In [86]:
# concated_df[concated_df["country"] == "ZIMBABWE"]
# df_unwto[df_unwto["country"] == "ZIMBABWE"], grouped[grouped["country"] == "ZIMBABWE"]

In [87]:
fused_data.reset_index()

,country,year,countryCodeNum,countryCodeAlpha,receipts,expenditures
0,AFGHANISTAN,2008,4.0,AFG,57.0,38.0
1,AFGHANISTAN,2009,4.0,AFG,89.0,70.0
2,AFGHANISTAN,2010,4.0,AFG,147.0,106.0
3,AFGHANISTAN,2011,4.0,AFG,165.0,255.0
4,AFGHANISTAN,2012,4.0,AFG,167.0,110.0
...,...,...,...,...,...,...
5301,ZIMBABWE,2016,716.0,ZWE,194.0,406.0
5302,ZIMBABWE,2017,716.0,ZWE,158.0,337.0
5303,ZIMBABWE,2018,716.0,ZWE,191.0,269.0
5304,ZIMBABWE,2019,716.0,ZWE,285.0,257.0
5305,ZIMBABWE,2020,716.0,ZWE,66.0,157.0

In [88]:
extra_credit = concated_df[concated_df["source"] != "oecd"]
ec_group = extra_credit.groupby(["source"])[["country", "year", "countryCodeNum", "countryCodeAlpha", "receipts", "expenditures"]]

In [89]:
# for name, group in ec_group:
#     print(name)
#     # print(group)

unwto = ec_group.get_group("unwto")
unwto[unwto["country"] == "AFGHANISTAN"]

        country  year  countryCodeNum countryCodeAlpha  receipts  expenditures
0   AFGHANISTAN  2008             4.0              AFG      57.0          38.0
1   AFGHANISTAN  2009             4.0              AFG      89.0          70.0
2   AFGHANISTAN  2010             4.0              AFG     147.0         106.0
3   AFGHANISTAN  2011             4.0              AFG     165.0         255.0
4   AFGHANISTAN  2012             4.0              AFG     167.0         110.0
5   AFGHANISTAN  2013             4.0              AFG     179.0         138.0
6   AFGHANISTAN  2014             4.0              AFG     121.0         140.0
7   AFGHANISTAN  2015             4.0              AFG      86.0         151.0
8   AFGHANISTAN  2016             4.0              AFG      62.0          89.0
9   AFGHANISTAN  2017             4.0              AFG      16.0         130.0
10  AFGHANISTAN  2018             4.0              AFG      50.0         226.0
11  AFGHANISTAN  2019             4.0              AFG      85.0         168.0
12  AFGHANISTAN  2020             4.0              AFG      75.0          49.0

In [90]:
wb = ec_group.get_group("wb")
(wb[wb["country"] == "AFGHANISTAN"].reset_index(drop = True)).compare(unwto[unwto["country"] == "AFGHANISTAN"].reset_index(drop = True))

Empty DataFrame
Columns: []
Index: []

## 6. Data Integration (15 pts)

In [91]:
integrated_data = pd.merge(fused_data, df_unpop, how = "left" ,left_on=['countryCodeAlpha', 'year'], right_on=['AlphaCode', 'Year'])

In [92]:
integrated_data["perCapitaRcpts"] = integrated_data["receipts"]/integrated_data["Population-Thousands"] * 1000
integrated_data["perCapitaExpnds"] = integrated_data["expenditures"]/integrated_data["Population-Thousands"] * 1000
integrated_data = integrated_data.rename(columns={"Country" : "country", "NumericCode" : "countryCodeNum", "AlphaCode": "countryCodeAlpha", "Year":"year", "Population-Thousands": "population"})
integrated_data = integrated_data[["country", "countryCodeNum", "countryCodeAlpha", "year", "receipts", "expenditures", "population", "perCapitaRcpts", "perCapitaExpnds"]]
integrated_data[(integrated_data["countryCodeAlpha"] == "USA") & (integrated_data["year"] >= 2012)]

,country,countryCodeNum,countryCodeAlpha,year,receipts,expenditures,population,perCapitaRcpts,perCapitaExpnds
5079,United States of America,840,USA,2012,195113.333333,138167.000000,315271.591,618.873818,438.247543
5080,United States of America,840,USA,2013,213104.333333,132322.666667,318031.051,670.073984,416.068388
5081,United States of America,840,USA,2014,222746.333333,140228.000000,320719.281,694.521180,437.229716
5082,United States of America,840,USA,2015,230574.000000,144668.333333,323348.646,713.081693,447.406646
5083,United States of America,840,USA,2016,228549.666667,147639.666667,325866.907,701.358934,453.067383
5084,United States of America,840,USA,2017,233758.333333,158288.000000,328553.489,711.477252,481.772391
5085,United States of America,840,USA,2018,241984.333333,176677.000000,331028.972,731.006509,533.720656
5086,United States of America,840,USA,2019,239319.333333,185742.000000,333251.103,718.135157,557.363497
5087,United States of America,840,USA,2020,84237.000000,48402.333333,335388.238,251.162654,144.317325
5088,United States of America,840,USA,2021,81965.000000,73803.000000,336495.769,243.584043,219.328166

In [114]:
integrated_data

,country,countryCodeNum,countryCodeAlpha,year,receipts,expenditures,population,perCapitaRcpts,perCapitaExpnds
0,Afghanistan,4,AFG,2008,57.0,38.0,25886.953,2.201881,1.467921
1,Afghanistan,4,AFG,2009,89.0,70.0,26967.445,3.300276,2.595722
2,Afghanistan,4,AFG,2010,147.0,106.0,27803.170,5.287167,3.812515
3,Afghanistan,4,AFG,2011,165.0,255.0,28576.174,5.774041,8.923518
4,Afghanistan,4,AFG,2012,167.0,110.0,29922.140,5.581152,3.676208
...,...,...,...,...,...,...,...,...,...
5301,Zimbabwe,716,ZWE,2016,194.0,406.0,14303.586,13.563032,28.384490
5302,Zimbabwe,716,ZWE,2017,158.0,337.0,14601.823,10.820567,23.079310
5303,Zimbabwe,716,ZWE,2018,191.0,269.0,14900.379,12.818466,18.053232
5304,Zimbabwe,716,ZWE,2019,285.0,257.0,15203.989,18.745081,16.903459
5305,Zimbabwe,716,ZWE,2020,66.0,157.0,15505.226,4.256629,10.125618

## Extra Credit

In [93]:
extra_credit = concated_df[concated_df["source"] != "oecd"]
ec_group = extra_credit.groupby(["source"])[["country", "year", "countryCodeNum", "countryCodeAlpha", "receipts", "expenditures"]]

In [94]:
# for name, group in ec_group:
#     print(name)
#     # print(group)

# unwto = ec_group.get_group("unwto")
# unwto[unwto["country"] == "AFGHANISTAN"]

# unwto = unwto.assign(source = "unwto")
# wb = wb.assign(source = "")

In [95]:
# # com returns nothing that means com wb AFGHANISTAN is same as the unwto AFGHANISTAN

# com = (wb[wb["country"] == "AFGHANISTAN"].reset_index(drop = True)).compare(unwto[unwto["country"] == "AFGHANISTAN"].reset_index(drop = True))
# com

In [96]:
# set(wb["country"].unique()).difference(set(unwto["country"].unique())).union(set(unwto["country"].unique())).difference(set(wb["country"].unique()))


# gr = wb.groupby(["countryCodeAlpha", "year"])
# gr2 = unwto.groupby(["countryCodeAlpha", "year"])

# sorted_groups = sorted(gr, key=lambda x: (x[0], x[1]['countryCodeAlpha']))
# sorted_groups2 = sorted(gr2, key=lambda x: (x[0], x[1]['countryCodeAlpha']))

# for (name, group), (name1, group1) in zip(sorted_groups, sorted_groups2):
#     print(name, name1)

In [97]:
# approch :
# i noticed the data from world bank and unwto are having similar records
# so i took the common countries from both world bank and unwto
# grouped both wb and unwto by countrycodealpha to seperate the rows based on countries
# now merged same countries, after merging the indicater shows if the record is present in both or right_only or left_only
# only taking records that are left_only and right_only
# and concatinating all of the uncommon records
# that means if the wb has 8 record and unwto has 10 records(for each country) and every wb record or most of the wb records are in unwto
# the uncommon ones are going to be from the unwto

In [98]:
wb_countries = set(wb["countryCodeAlpha"].unique())
unwto_countries = set(unwto["countryCodeAlpha"].unique())
common_countries = wb_countries & unwto_countries

# converting to int to avoid problems
wb["receipts"] = wb["receipts"].fillna(0).astype("int")
wb["expenditures"] = wb["expenditures"].fillna(0).astype("int")

unwto["receipts"] = unwto["receipts"].fillna(0).astype("int")
unwto["expenditures"] = unwto["expenditures"].fillna(0).astype("int")

grouped_ec = wb.groupby("countryCodeAlpha")
grouped_ec1 = unwto.groupby("countryCodeAlpha")

con = []

for cc in common_countries:
    # print(~(grouped_ec.get_group(cc).reset_index(drop = True)).isin(grouped_ec1.get_group(cc).reset_index(drop = True)).all(axis=1))
    df1 = grouped_ec.get_group(cc).reset_index(drop = True)
    df2 = grouped_ec1.get_group(cc).reset_index(drop = True)
    merged = pd.merge(df1, df2, how='outer', indicator=True)
    df_diff = merged.loc[merged['_merge'] != 'both']
    df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
    df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
    con.append(df_diff)

con = pd.concat(con)
con

/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("right_only", "unwto")
/var/folders/cd/60bgrl6d57gcpppm6fn4m4780000gn/T/ipykernel_90244/4291707090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diff["_merge"] = df_diff["_merge"].str.replace("left_only", "wb")

,country,year,countryCodeNum,countryCodeAlpha,receipts,expenditures,_merge
26,ALBANIA,2021,8.0,ALB,2480,1325,unwto
26,NEPAL,2021,524.0,NPL,149,403,unwto
14,ICELAND,2009,352.0,ISL,0,0,unwto
15,ICELAND,2010,352.0,ISL,0,0,unwto
16,ICELAND,2011,352.0,ISL,0,0,unwto
...,...,...,...,...,...,...,...
22,GUINEABISSAU,2017,624.0,GNB,16,63,unwto
23,GUINEABISSAU,2020,624.0,GNB,2,53,unwto
26,SURINAME,2021,740.0,SUR,14,75,unwto
26,JORDAN,2021,400.0,JOR,3426,981,unwto
26,MONGOLIA,2021,496.0,MNG,0,0,unwto

In [102]:
con["_merge"].value_counts()
c = con.groupby("countryCodeAlpha")
wb_count = 0
unwto_count = 0
for name, group in c:
    wb_count = wb_count + len(group[group["_merge"]== "wb"].drop_duplicates())
    unwto_count = unwto_count + len(group[group["_merge"]== "unwto"].drop_duplicates())
    # print(group)
wb_count, unwto_count

(627, 1266)

In [ ]:
#unwto_count is higher so unwto can be source and wb can be a copy

In [100]:
# the matched_df1 has only entries with rank 1
# the "match" dataframe has many ranked ones 
# country name "United states" has two matches one with "United states of america" which has the rank 2 
# and second one is "UNITED STATES VIRGIN ISLANDS" which is ranked 1
# only United states need to be changed 

# below are the countries that are matched with rank 1 but only few of them are only correct like korea for example

# matched_df1[matched_df1["country_oced"] != matched_df1["country_unpop"]].drop_duplicates()

# 	country_oced	country_unpop
# 106	CHINA PEOPLES REPUBLIC OF	DEM PEOPLES REPUBLIC OF KOREA
# 158	CZECH REPUBLIC	DOMINICAN REPUBLIC
# 385	KOREA	REPUBLIC OF KOREA
# 581	RUSSIA	NaN
# 605	SLOVAK REPUBLIC	DOMINICAN REPUBLIC
# 715	UNITED STATES	UNITED STATES VIRGIN ISLANDS


# for china the matched are
# 	country_left	country_right	match_rank
# 106	CHINA PEOPLES REPUBLIC OF	DEM PEOPLES REPUBLIC OF KOREA	1
# 107	CHINA PEOPLES REPUBLIC OF	REPUBLIC OF KOREA	2
# 108	CHINA PEOPLES REPUBLIC OF	REPUBLIC OF MOLDOVA	3
# 109	CHINA PEOPLES REPUBLIC OF	UNITED REPUBLIC OF TANZANIA	4
# 110	CHINA PEOPLES REPUBLIC OF	VENEZUELA BOLIVARIAN REPUBLIC OF	5
# 111	CHINA PEOPLES REPUBLIC OF	IRAN ISLAMIC REPUBLIC OF	6
# 112	CHINA PEOPLES REPUBLIC OF	DEMOCRATIC REPUBLIC OF THE CONGO	7


# for CZECH REPUBLIC the matched are
# 	country_left	country_right	match_rank
# 230	CZECH REPUBLIC	DOMINICAN REPUBLIC	1
# 231	CZECH REPUBLIC	REPUBLIC OF KOREA	2
# 232	CZECH REPUBLIC	REPUBLIC OF MOLDOVA	3
# 233	CZECH REPUBLIC	SYRIAN ARAB REPUBLIC	4
# 234	CZECH REPUBLIC	CENTRAL AFRICAN REPUBLIC	5
# 235	CZECH REPUBLIC	UNITED REPUBLIC OF TANZANIA	6
# 236	CZECH REPUBLIC	VENEZUELA BOLIVARIAN REPUBLIC OF	7
# 237	CZECH REPUBLIC	IRAN ISLAMIC REPUBLIC OF	8
# 238	CZECH REPUBLIC	LAO PEOPLES DEMOCRATIC REPUBLIC	9
# 239	CZECH REPUBLIC	DEMOCRATIC REPUBLIC OF THE CONGO	10
# 240	CZECH REPUBLIC	DEM PEOPLES REPUBLIC OF KOREA	11


# for Korea
# country_left	country_right	match_rank
# 587	KOREA	REPUBLIC OF KOREA	1
# 588	KOREA	DEM PEOPLES REPUBLIC OF KOREA	2


# for russia no matches because of the it is listed as RUSSIAN FEDERATION in unpop

# SLOVAK REPUBLIC

# 	country_left	country_right	match_rank
# 821	SLOVAK REPUBLIC	DOMINICAN REPUBLIC	1
# 822	SLOVAK REPUBLIC	REPUBLIC OF KOREA	2
# 823	SLOVAK REPUBLIC	REPUBLIC OF MOLDOVA	3
# 824	SLOVAK REPUBLIC	SYRIAN ARAB REPUBLIC	4
# 825	SLOVAK REPUBLIC	CENTRAL AFRICAN REPUBLIC	5
# 826	SLOVAK REPUBLIC	UNITED REPUBLIC OF TANZANIA	6
# 827	SLOVAK REPUBLIC	VENEZUELA BOLIVARIAN REPUBLIC OF	7
# 828	SLOVAK REPUBLIC	IRAN ISLAMIC REPUBLIC OF	8
# 829	SLOVAK REPUBLIC	LAO PEOPLES DEMOCRATIC REPUBLIC	9
# 830	SLOVAK REPUBLIC	DEMOCRATIC REPUBLIC OF THE CONGO	10
# 831	SLOVAK REPUBLIC	DEM PEOPLES REPUBLIC OF KOREA	11


# for UNITED STATES

# 	country_left	country_right	match_rank
# 1071	UNITED STATES	UNITED STATES VIRGIN ISLANDS	1
# 1072	UNITED STATES	UNITED STATES OF AMERICA	2